.Contact {
  padding-top: 40px;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.content {
  display: flex;
}

.left {
  width: 50%;
  display: flex;
  flex-direction: column;
  padding-right: 30px;
  color: #93a4aa;
}
.search {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}

.search input {
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  outline: none;
  border-radius: 4px;
  margin-bottom: 15px;
  font-size: 16px;
}

.search p {
  font-size: 18px;
  padding-left: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.06);
}

.submissions {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  height: 400px;
}

.submissions li {
  margin-bottom: 5px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-radius: 3px;
}

.submissions li:hover {
  background-color: rgba(214, 225, 229, 0.4);
}

.submissions li button {
  opacity: 0;
  margin-left: 15px;
  border: 0;
  color: #f44336;
  cursor: pointer;
  font-size: 20px;
}

.submissions li:hover button {
  opacity: 1;
}

.alert {
  display: flex;
  justify-content: space-between;
  background-color: #4bc0c0;
  padding: 15px;
  color: white;
  font-size: 14px;
  margin-bottom: 15px;
  margin-right: 100px;
}

.alert p:last-child {
  cursor: pointer;
}
