.Confirm {
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Confirm > h1 {
  text-align: center;
  font-weight: bold;
  margin: 20px 0;
  font-size: 19px;
}

.Confirm hr {
  width: 100%;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  margin-bottom: 20px;
}

.progress {
  font-size: 12px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.progress > * {
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress span {
  width: 10px;
  height: 10px;
  border: 1px solid rgba(0, 0, 0, 0.16);
  background-color: white;
  border-radius: 50%;
  margin-top: 4px;
}

.progress::after {
  content: "";
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
  position: absolute;
  width: 100%;
  top: 20px;
  z-index: -1;
}

.thanks {
  margin-top: 40px;
}

.thanks h2,
.order h2 {
  font-weight: bold;
  font-size: 19px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.order {
  margin-top: 60px;
}

.Confirm table {
  width: 100%;
  background-color: #e8e8e8;
}

.Confirm thead {
  border-bottom: 1px solid rgba(0, 0, 0, 0.16);
}

.Confirm th {
  font-size: 14px;
  text-align: left;
  padding: 20px;
  padding-bottom: 10px;
}

.Confirm td {
  vertical-align: middle;
  text-align: left;
  padding: 20px;
  font-weight: 500;
}

.Confirm td.name {
  font-weight: bold;
}

.Confirm td.price,
.Confirm th.price {
  text-align: right;
}

.Confirm .image img {
  width: 90px;
  height: 90px;
}

.summary {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

.summary > div {
  display: flex;
  flex-direction: column;
  width: 200px;
}

.summary > div > div {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.summary .total {
  font-size: 18px;
  font-weight: bold;
}

.Confirm > p {
  font-size: 12px;
  text-align: center;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
  padding-top: 12px;
  margin-top: 60px;
}

.Confirm > p a {
  color: black;
  font-weight: 500;
}
