.nav {
  padding-top: 30px;
}

.Careers main {
  margin-top: 100px;
  padding: 0 150px;
  display: flex;
  flex-direction: column;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  align-items: center;
}

.Careers main > h1 {
  font-size: 80px;
  font-weight: 100;
}

.Careers main > p {
  font-weight: 100;
  font-size: 12px;
  margin-top: 30px;
}

.Careers .content ol {
  margin-bottom: 30px;
}

.Careers main .content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 50px 150px;
}

.Careers .content p,
.Careers .content ol li {
  font-size: 14px;
  color: #606060;
  letter-spacing: 0.3px;
  line-height: 18px;
}

.Careers .content ol li {
  margin-bottom: 15px;
}

.Careers .content ol li::before {
  content: "-> ";
  position: relative;
}

.Careers .content > div:not(:first-child) {
  margin-top: 50px;
}

.Careers .content h2 {
  margin-bottom: 30px;
  font-size: 24px;
}

@media (max-width: 768px) {
  .nav {
    padding-top: 0;
  }
  .Careers {
    margin-top: 130px;
  }

  .Careers main {
    padding: 0;
  }

  .Careers main > h1 {
    font-size: 50px;
    padding: 0 50px;
    text-align: center;
  }

  .Careers main .content {
    padding: 30px 20px 20px;
  }
}
