.Slide {
  margin-right: 42px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.Slide:first-child {
  margin-right: 45px;
}

.Slide h4 {
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 10px;
  margin-top: 20px;
}

.Slide p {
  font-size: 12px;
  font-weight: 100;
}
