.SliderWrapper {
  overflow: hidden;
  padding: 30px 0 30px 30px;
}

.SliderWrapper > div {
  display: flex;
}

.Bottom {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px 0 30px;
}

.Controls button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.Controls button img {
  width: 15px;
}

.Controls button:first-child {
  margin-right: 15px;
}

.Indicator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 120px;
}

.Indicator > div {
  width: 60px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 7px;
}

.Indicator > div > div {
  border-radius: 7px;
}
