.IntroSection {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  padding: 70px;
}

.IntroSection h1 {
  font-size: 14px;
  margin-bottom: 24px;
}

.IntroSection p {
  font-size: 110px;
  text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}
